@tailwind base;
@tailwind components;
@tailwind utilities;

.container-snap::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container-snap {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

* {
    scrollbar-width: auto;
    scrollbar-color: #afb2bf;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 3px;
  }
  
  *::-webkit-scrollbar-track {
    background: #000814;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #afb2bf;
    border-radius: 10px;
    visibility: hidden;
  }
  
  *:active::-webkit-scrollbar-thumb,
  *:focus::-webkit-scrollbar-thumb,
  *:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }